*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    background-color: rgb(226, 223, 223);
    min-height: 100vh;
    
    

}
.containerHeader{
    padding: 2rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border: 1px solid gray;
    
}